/*==========DEFAULT STYLES==========*/
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'PFBeauSansPro-Thin';
    min-width: 900px;
}

ul {
    list-style: none;
}

p {
    margin: 0;
}

/*==========HELPER CLASSES==========*/
.content-center {
    width: 855px;
    margin: 0 auto;
}

/*==========HEADER==========*/
header {
    padding: 30px 0 180px;
    background: url("../img/main-bg.jpg") no-repeat;
    background-size: 100% 100%;
}

.clone-header {
    position: fixed;
    top: -150px;
    left: 0;
    right: 0;
    z-index: 99999999;
    width: 100%;
    height: 67px;
    background: url("../img/header-bg.jpg") no-repeat;
    background-size: 100% 100%;
    -webkit-transition: all .8s;
    -moz-transition: all .8s;
    -ms-transition: all .8s;
    -o-transition: all .8s;
    transition: all .8s;
}

.clone-header .nav-wrap a {
    line-height: 67px;
}

.nav-wrap {
    overflow: hidden;
}

.nav-wrap li {
    float: left;
}

.nav-wrap a {
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.main-nav li {
    margin: 0 15px 0 0;
}

.main-nav a {
    color: #8D8D8D;
}

.main-nav a:hover {
    color: #397DA9;
    text-decoration: none;
}

.lang-list li {
    margin: 0 5px 0 0;
}

.lang-list a {
    font-size: 14px;
    text-decoration: none;
    color: #5D5D5D;
}

.lang-list a:hover,
.lang-list li.active a {
    color: #397DA9;
}

.logo {
    margin: 50px 0 0;
}

.logo img {
    display: block;
    margin: 0 auto;
}

.conference-desc {
    width: 590px;
    margin: 0 auto;
    line-height: 2;
    text-align: center;
    color: #363636;
}

.conference-desc h4 {
    margin: 0;
    font-size: 30px;
    font-weight: normal;
}

.conference-desc p {
    font-size: 16px;
}

/*==========SECTION==========*/
.directions {
    overflow: hidden;
    margin: -85px 0 0;
}

.directions-tab {
    overflow: hidden;
}

.directions-list {
    margin: 0;
    padding: 0 0 0 23px;
}

.directions-list li {
    float: left;
    margin: 0 0 0 -23px;
}

.directions-list li:first-child {
    margin: 0;
}

.directions-list li:nth-child(odd) {
    margin: 40px 0 0 -23px;
}

.directions-list a {
    overflow: hidden;
    position: relative;
    z-index: 10;
    display: block;
    width: 176px;
    height: 176px;
    font: 21px "PFBeauSansPro-Light";
    text-align: center;
}

.directions-list a:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -1;
    width: 128px;
    height: 128px;
    margin: -64px 0 0 -64px;
    border: 1px solid #eee;
    background: #eee;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.directions-list li:hover a:after,
.directions-list .active a:after {
    -webkit-transform: rotate(225deg);
    -moz-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    -o-transform: rotate(225deg);
    transform: rotate(225deg);
}

.directions-list a:hover {
    text-decoration: none;
}

.directions-list a:before {
    content: "";
    display: block;
    width: 43px;
    height: 43px;
    margin: 22px auto 5px;
    background: url("../img/sprite.png") no-repeat;
}

.directions-list li:nth-child(odd) a:before {
    margin: 38px auto 5px;
}

.directions-list a span {
    display: block;
    width: 110px;
    margin: 0 auto;
}

.designers a {
    color: #F77C29;
}

.designers:hover a:after,
.designers.active a:after {
    border-color: #F77C29;
}

.designers a:before {
    background-position: -58px 0;
}

.pm a {
    color: #566E73;
}

.pm:hover a:after,
.pm.active a:after  {
    border-color: #566E73;
}

.pm a:before {
    background-position: -108px 0;
}

.pm a span {
    width: 130px;
}

.dev a {
    color: #7B3DBA;
}

.dev:hover a:after,
.dev.active a:after {
    border-color: #7B3DBA;
}

.dev a:before {
    background-position: -158px 0;
}

.marketing a {
    color: #91B904;
}

.marketing:hover a:after,
.marketing.active a:after {
    border-color: #91B904;
}

.marketing a:before {
    background-position: -208px 0;
}

.marketing a span {
    width: 115px;
}

.mobile a {
    color: #3A7DAA;
}

.mobile:hover a:after,
.mobile.active a:after {
    border-color: #3A7DAA;
}

.mobile a:before {
    background-position: -258px 0;
}

.directions-bg {
    margin: -135px 0 0;
    padding: 160px 0 0;
    background: #eee;
}

.directions-content {
    overflow: hidden;
}

.directions-content h2,
.directions-content .date {
    color: #5a5a5a;
    text-align: center;
}

.directions-content h2 {
    margin: 0 0 15px;
    font: 28px "PFBeauSansPro-Light";
}

.directions-content .date {
    margin: 0 0 30px;
    font: 18px "PFBeauSansPro-Light";
}

.directions-desc {
    overflow: hidden;
    margin: 0 0 10px;
}

.directions-desc p {
    margin: 0 0 25px;
}

.reg-btn {
    display: block;
    width: 280px;
    margin: 0 auto;
    border: 1px solid #6592ab;
    background: transparent;
    font-size: 24px;
    line-height: 48px;
    color: #6592ab;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.reg-btn:hover {
    width: 280px;
    border: none;
    line-height: 50px;
    color: #eee;
    background: #96c6d3;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzk2YzZkMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2OGExY2QiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, #96c6d3 0%, #68a1cd 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #96c6d3), color-stop(100%, #68a1cd));
    background: -webkit-linear-gradient(top, #96c6d3 0%, #68a1cd 100%);
    background: -o-linear-gradient(top, #96c6d3 0%, #68a1cd 100%);
    background: -ms-linear-gradient(top, #96c6d3 0%, #68a1cd 100%);
    background: linear-gradient(to bottom, #96c6d3 0%, #68a1cd 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#96c6d3', endColorstr='#68a1cd', GradientType=0);
}

.directions-programm {
    margin: 45px 0 50px;
    text-align: center;
}

.directions-programm .title {
    display: block;
    margin: 0 0 20px;
    font-size: 24px;
    color: #5a5a5a;
}

.table-wrap {
    border: 1px solid #A8C4D1;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.single-column,
.double-column,
.triple-column {
    width: 100%;
    text-align: left;
}

.single-column tbody td,
.single-column thead td,
.double-column tbody td,
.double-column thead td,
.triple-column tbody td,
.triple-column thead td {
    border-left: 1px solid #A8C4D1;
    font-size: 18px;
    color: #5a5a5a;
}

.single-column thead td,
.double-column thead td,
.triple-column thead td {
    text-align: center;
    line-height: 50px;
}

.single-column thead td:first-child,
.double-column thead td:first-child,
.triple-column thead td:first-child {
    border-left: none;
}

.single-column tbody td,
.double-column tbody td,
.triple-column tbody td {
    padding: 15px 10px;
    vertical-align: top;
}

.double-column tbody td {
    width: 50%;
}

.triple-column tbody td {
    width: 30%;
}

.single-column tbody td:first-child,
.double-column tbody td:first-child,
.triple-column tbody td:first-child {
    min-width: 120px;
    border-left: none;
}

.double-column tbody td:first-child,
.triple-column tbody td:first-child {
    width: auto !important;
}

.single-column tbody tr,
.double-column tbody tr,
.triple-column tbody tr {
    border-top: 1px solid #A8C4D1;
}

.single-column tbody tr:last-child td:last-child,
.double-column tbody tr:last-child td:last-child,
.triple-column tbody tr:last-child td:last-child {
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    border-bottom-right-radius: 5px;
}

.single-column tbody tr:last-child td:first-child,
.double-column tbody tr:last-child td:first-child,
.triple-column tbody tr:last-child td:first-child {
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-left-radius: 5px;
}

.triple-column .img-wrap {
    float: left;
}

.single-column img,
.double-column img {
    margin: 0 10px 0 0;
}

.triple-column img {
    margin: 0 7px 0 0;
}

.single-column h4,
.double-column h4,
.triple-column h4 {
    margin: 0 0 5px;
    font-family: "PFBeauSansPro-Reg";
}

.single-column p,
.double-column p,
.triple-column p {
    margin: 0 0 5px;
    font-size: 14px;
}

.single-column p span,
.double-column p span,
.triple-column p span {
    font: 16px "PFBeauSansPro-Light";
}

.single-column div,
.double-column div,
.triple-column div {
    overflow: hidden;
}

.coordinator-wrap {
    overflow: hidden;
    margin: 60px 0;
}

.coordinator-title {
    margin: 0 0 0 60px;
    font-size: 18px;
    line-height: 145px;
    color: #5a5a5a;
}

.coordinator-img {
    margin: 0 30px;
}

.coordinator-img a {
    position: relative;
    display: inline-block;
}

.coordinator-description {
    margin: 10px 0 0;
}

.coordinator-description p {
    font-size: 16px;
    line-height: 2;
    color: #5a5a5a;
}

.coordinator-description .name {
    font: 20px "PFBeauSansPro-Reg";
    line-height: 2;
}

.support-wrap {
    overflow: hidden;
    padding: 23px 0;
    background: url("../img/grad-border.png") center center no-repeat;
}

.support-wrap > div {
    float: left;
    width: 50%;
    text-align: center;
}

.support-wrap .title {
    display: block;
    margin: 0 0 20px;
    font-size: 22px;
    color: #5a5a5a;
}

.sponsors-wrap li {
    float: right;
    margin: 0 25px 0 0;
}

.partners-wrap li {
    float: left;
    margin: 0 0 0 25px;
}

.support-wrap p {
    font-size: 12px;
    color: #5a5a5a;
}

.support-wrap li div {
    position: relative;
    margin: 0 0 10px;
}

.info-partners {
    padding: 55px 0 120px;
    background: url("../img/info-bg.jpg") no-repeat;
    background-size: 100% 100%;
    text-align: center;
}

.info-partners .title {
    display: inline-block;
    margin: 0 0 25px;
    font-size: 28px;
    color: #5a5a5a;
    text-align: center;
}

.info-partners-list {
    position: relative;
}

.partners-carousel {
    position: relative;
    overflow: hidden;
    padding: 0 5px;
}

.info-partners-list ul {
    position: relative;
    overflow: hidden;
    margin: 0;
    width: 20000em;
}

.info-partners-list li {
    float: left;
    margin: 0 11px;
}
.jcarousel-next,
.jcarousel-prev {
    display: block;
    position: absolute;
    top: 50%;
    width: 28px;
    height: 52px;
    background: url("../img/sprite.png") no-repeat;
    text-indent: -9999px;
}

.jcarousel-prev {
    left: -10px;
    margin: -26px 0 0 -14px;
}

.jcarousel-next {
    right: -10px;
    margin: -26px -14px 0 0;
    background-position: -30px 0;
}

.map-wrap {
    overflow: hidden;
    background: #eee;
    text-align: center;
}

.map-wrap .title {
    display: inline-block;
    margin: 65px 0 20px;
    font-size: 28px;
    color: #5a5a5a;
}

.map-wrap .address {
    display: block;
    margin: 0 0 25px;
    font-size: 18px;
    line-height: 25px;
    color: #5a5a5a;
}

.map-wrap .address:before {
    content: "";
    display: inline-block;
    width: 25px;
    height: 25px;
    margin: 0 5px 0 0;
    background: url("../img/sprite.png") 0 -52px no-repeat;
    vertical-align: middle;
}

#map {
    width: 100%;
    height: 365px;
}

.contacts {
    overflow: hidden;
    background: #eee;
    text-align: center;
}

.contacts .title {
    display: inline-block;
    margin: 65px 0 50px;
    font-size: 28px;
    color: #5a5a5a;
}

.contacts-list {
    overflow: hidden;
    width: 100%;
    margin: 0 0 70px;
    text-align: left;
}

.contacts-list li {
    float: left;
    width: 50%;
    margin: 0 0 35px;
}

.contact-img {
    position: relative;
    float: left;
    margin: 0 30px 0 0;
}

.contact-desc .name {
    font: 16px "PFBeauSansPro-Reg";
    color: #5a5a5a;
}

.contact-desc .name,
.contact-desc p,
.contact-desc a {
    line-height: 26px;
    color: #5a5a5a;
}

.contact-desc a {
    text-decoration: none;
}

/*==========FOOTER==========*/
footer {
    overflow: hidden;
}

.top-footer {
    padding: 50px 0 40px;
    background: url("../img/footer-bg.jpg") no-repeat;
    background-size: 100% 100%;
}

.social-list {
    text-align: center;
}

.social-list li {
    display: inline-block;
    margin: 0 28px 0 0;
    vertical-align: middle;
}

.social-list li:last-child {
    margin: 0;
}

.social-list li:hover {
    -webkit-animation: bounce 800ms ease-out;
    -moz-animation: bounce 800ms ease-out;
    -o-animation: bounce 800ms ease-out;
    animation: bounce 800ms ease-out;
}

.social-list a {
    display: inline-block;
    background: url("../img/sprite.png") no-repeat;
}

.tumblr a {
    width: 18px;
    height: 28px;
    background-position: -25px -52px;
}

.vimeo a {
    width: 28px;
    height: 24px;
    background-position: -45px -52px;
}

.linkedin a {
    width: 29px;
    height: 28px;
    background-position: -75px -52px;
}

.fb a {
    width: 13px;
    height: 28px;
    background-position: -106px -52px;
}

.upward-wrap {
    margin: 75px 0 0;
    text-align: center;
}

.upward {
    display: inline-block;
    color: #eee;
}

.upward:before {
    content: "";
    display: block;
    width: 38px;
    height: 15px;
    margin: 0 auto 10px;
    background: url("../img/sprite.png") -119px -52px no-repeat;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.upward:hover {
    color: #eee;
    text-decoration: none;
}

.upward:hover:before {
    -webkit-transform: translate(0, -10px);
    -moz-transform: translate(0, -10px);
    -o-transform: translate(0, -10px);
    -ms-transform: translate(0, -10px);
    transform: translate(0, -10px);
}

.bottom-footer {
    overflow: hidden;
    padding: 35px 0;
    background: #eee;
}

.bottom-footer .main-nav a {
    font-size: 12px;
}

.copyright {
    font-size: 12px;
    color: #96b7c4;
    opacity: 0.77;
}

@-webkit-keyframes bounce {
    15% {
        -webkit-transform: translate(0, -20px);
        -moz-transform: translate(0, -20px);
        -o-transform: translate(0, -20px);
        -ms-transform: translate(0, -20px);
        transform: translate(0, -20px);
    }
    30% {
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    45% {
        -webkit-transform: translate(0, -15px);
        -moz-transform: translate(0, -15px);
        -o-transform: translate(0, -15px);
        -ms-transform: translate(0, -15px);
        transform: translate(0, -15px);
    }
    60% {
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    75% {
        -webkit-transform: translate(0, -10px);
        -moz-transform: translate(0, -10px);
        -o-transform: translate(0, -10px);
        -ms-transform: translate(0, -10px);
        transform: translate(0, -10px);
    }
    90% {
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    100% {
        -webkit-transform: translate(0, -5px);
        -moz-transform: translate(0, -5px);
        -o-transform: translate(0, -5px);
        -ms-transform: translate(0, -5px);
        transform: translate(0, -5px);
    }
}

@-moz-keyframes bounce {
    15% {
        -webkit-transform: translate(0, -20px);
        -moz-transform: translate(0, -20px);
        -o-transform: translate(0, -20px);
        -ms-transform: translate(0, -20px);
        transform: translate(0, -20px);
    }
    30% {
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    45% {
        -webkit-transform: translate(0, -15px);
        -moz-transform: translate(0, -15px);
        -o-transform: translate(0, -15px);
        -ms-transform: translate(0, -15px);
        transform: translate(0, -15px);
    }
    60% {
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    75% {
        -webkit-transform: translate(0, -10px);
        -moz-transform: translate(0, -10px);
        -o-transform: translate(0, -10px);
        -ms-transform: translate(0, -10px);
        transform: translate(0, -10px);
    }
    90% {
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    100% {
        -webkit-transform: translate(0, -5px);
        -moz-transform: translate(0, -5px);
        -o-transform: translate(0, -5px);
        -ms-transform: translate(0, -5px);
        transform: translate(0, -5px);
    }
}

@-o-keyframes bounce {
    15% {
        -webkit-transform: translate(0, -20px);
        -moz-transform: translate(0, -20px);
        -o-transform: translate(0, -20px);
        -ms-transform: translate(0, -20px);
        transform: translate(0, -20px);
    }
    30% {
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    45% {
        -webkit-transform: translate(0, -15px);
        -moz-transform: translate(0, -15px);
        -o-transform: translate(0, -15px);
        -ms-transform: translate(0, -15px);
        transform: translate(0, -15px);
    }
    60% {
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    75% {
        -webkit-transform: translate(0, -10px);
        -moz-transform: translate(0, -10px);
        -o-transform: translate(0, -10px);
        -ms-transform: translate(0, -10px);
        transform: translate(0, -10px);
    }
    90% {
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    100% {
        -webkit-transform: translate(0, -5px);
        -moz-transform: translate(0, -5px);
        -o-transform: translate(0, -5px);
        -ms-transform: translate(0, -5px);
        transform: translate(0, -5px);
    }
}

@keyframes bounce {
    15% {
        -webkit-transform: translate(0, -20px);
        -moz-transform: translate(0, -20px);
        -o-transform: translate(0, -20px);
        -ms-transform: translate(0, -20px);
        transform: translate(0, -20px);
    }
    30% {
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    45% {
        -webkit-transform: translate(0, -15px);
        -moz-transform: translate(0, -15px);
        -o-transform: translate(0, -15px);
        -ms-transform: translate(0, -15px);
        transform: translate(0, -15px);
    }
    60% {
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    75% {
        -webkit-transform: translate(0, -10px);
        -moz-transform: translate(0, -10px);
        -o-transform: translate(0, -10px);
        -ms-transform: translate(0, -10px);
        transform: translate(0, -10px);
    }
    90% {
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
    }
    100% {
        -webkit-transform: translate(0, -5px);
        -moz-transform: translate(0, -5px);
        -o-transform: translate(0, -5px);
        -ms-transform: translate(0, -5px);
        transform: translate(0, -5px);
    }
}

.partnetsimg img{
    width:auto;
    max-height:100px;
}

.partnetsimg1 img{
     width:auto;
     max-height:50px;
    margin-top: 27px;
    padding-right: 30px;
 }

.partnetsimg2 img{
    width:auto;
    max-height:65px;
}

.partnetsimg3 img{
    width:auto;
    max-height:60px;
}