<h1>Самое яркое мероприятие этого лета - Odessa Innovation Week 2015!</h1>

<p>
<b>Со 2 по 10 июля</b> в Одессе пройдет <b><a href="http://oiw.in.ua/">Odessa Innovation Week</a></b>. Это серия мероприятий по четырем направлениям: <b><a href="http://oiw.in.ua/land/tech-index.html" >Tech</a>, <a href="http://oiw.in.ua/land/bussines-index.html" >Business</a>, <a href="http://oiw.in.ua/land/startup-lab.html" >StartUP</a> и <a href="http://geekslab.co/events/47-e-society-events" >E-Society</a></b>.
</p>

<p>
В рамках <b>StartUP</b> направления 2 июля состоится конференция посвященная актуальным вопросам IT-предпринимательства <b><a href="http://oiw.in.ua/land/startup-lab.html" >StartUp Lab</a></b>. Ивент будет состоять из двух Keynote выступлений, трех панельных дискуссий и StartUp Crash Test.
</p>

<p>
    <b>Keynote</b> спикеры поделятся опытом построения бизнеса, коммуникаций и раскроют секреты успешного инновационного бизнеса:
    <ul>
    <li><b>Hans Lundberg</b> <i>(Vice President, European Academy of Management (EURAM), Brussels, Belgium.)</i> - Innovation, actually.</li>
    <li><b>Ragnar Sass</b> <i>(Co-founder @Garage48, Co-founder & President @Pipedrive)</i> - How to build a successful b2b startup from Eastern Europe to international market.</li>
    </ul>
</p>

<p>
В рамках <b>Founders Panel</b> основатели стартапов поделятся своим опытом и расскажут о нюансах развития их компаний. В панели примут участие: Виталий Гончарук (Augmented Pixel), Пасечник Иван (EcoisMe), Дмитрий Сподарец (FlyElephant)
</p>

<p>
В рамках <b>Law Panel</b> будут обсуждаться такие вопросы как: можно ли зарегистрировать иностранную компанию за 10 минут и что Вам за это будет? Хранить данные на серверах или лучше витать в облаках? и другие. В панели примут участие: Елена Локайчук (Legal Advisor бизнес инкубатора WannaBiz), Назар Поливка (юрист практики IT та медіа права АО “Юскутум”), Иванна Погребняк (Director of Legal, AltexSoft), Антон Зинчук ( ассоциированный партнер Юридической фирмы ILF).
</p>

<p>
В <b>Investors Panel</b> примут участие Николай Савин (управляющий директор бизнес-акселератора GrowthUP) и Вадим Роговский (исполнительный директор бизнес-инкубатора WannaBiz). Основной темой разговора станут нематериальные инвестиции, а также чем полезны фонды, инкубаторы и акселераторы кроме финансовой поддержки.
</p>

<p>
В конце конференции на StartUp Crash Test будут проверены на прочность 3 проекта в формате 5-минутная презентация проекта и 15 минут для ответов на вопросы из зала.
</p>

<p>
    <b>Все подробности и регистрация: <a href="http://oiw.in.ua/land/startup-lab.html" >http://oiw.in.ua/land/startup-lab.html</a></b> <i>(скидочный промо-код на 25%: mappedinua)</i>.
</p>