@font-face {
    font-family: 'PFBeauSansPro-Reg';
    src: url('../fonts/PFBeauSansPro-Reg.eot');
    src: url('../fonts/PFBeauSansPro-Reg.eot') format('embedded-opentype'),
    url('../fonts/PFBeauSansPro-Reg.woff') format('woff'),
    url('../fonts/PFBeauSansPro-Reg.ttf') format('truetype'),
    url('../fonts/PFBeauSansPro-Reg.svg#HelveticaNeueCyrLight') format('svg');
}
@font-face {
    font-family: 'PFBeauSansPro-Thin';
    src: url('../fonts/PFBeauSansPro-Thin.eot');
    src: url('../fonts/PFBeauSansPro-Thin.eot') format('embedded-opentype'),
    url('../fonts/PFBeauSansPro-Thin.woff') format('woff'),
    url('../fonts/PFBeauSansPro-Thin.ttf') format('truetype'),
    url('../fonts/PFBeauSansPro-Thin.svg#HelveticaNeueCyrLight') format('svg');
}
@font-face {
    font-family: 'PFBeauSansPro-Light';
    src: url('../fonts/PFBeauSansPro-Light.eot');
    src: url('../fonts/PFBeauSansPro-Light.eot') format('embedded-opentype'),
    url('../fonts/PFBeauSansPro-Light.woff') format('woff'),
    url('../fonts/PFBeauSansPro-Light.ttf') format('truetype'),
    url('../fonts/PFBeauSansPro-Light.svg#HelveticaNeueCyrLight') format('svg');
}